{% extends "listas/base_lista.html" %}

{% block content %}
<h1 class="title">{{ titulo }} </h1>
<table id="cliente_tabla" class="table is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Origen</th>
            <th>Más detalles</th>
        </tr>
    </thead>
    <tbody>
    {% for c in lista %}
        <tr>
            <td>{{ c.pk }}</td>
            <td>{{ c.cliente_nombre }}</td>
            <td>{{ c.cliente_apellido }}</td>
            <td>{{ c.get_cliente_origen_display }}</td>
            <td>
                <a href="{% url 'detalle_cliente' c.pk %}">Más detalles</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>Sin clientes</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
