{% extends "listas/base_lista.html" %}
{% load custom_tags %}

{% block content %}
<h1 class="title">{{ titulo }} </h1>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Nro. de orden de trabajo</th>
            <th>Fecha creación</th>
            <th>Cant.tareas pendientes</th>
            <th>Último estado</th>
            <th>Fecha del último estado</th>
            <th>Más detalle</th>
        </tr>
    </thead>
    <tbody>
    {% for ot in lista %}
        <tr>
            <td>{{ ot.orden_id }}</td>
            <td>{{ ot.orden_fecha_creacion }}</td>
            <td>{{ ot.tarea_set.all|contar_tareas_pendientes }}</td>
            <td>{{ ot.ultimo_estado.estado.estado_descripcion }}</td>
            <td>{{ ot.ultimo_estado.fecha_cambio_estado }}</td>
            <td>
                <a href="{% url 'detalle_orden_trabajo' ot.pk %}">
                    <span>
                        <i class="fas fa-info"></i>
                    </span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>Sin órdenes de trabajo</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}