{% extends "listas/base_lista.html" %}

{% block content %}
<h1 class="title">{{ titulo }} </h1>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Razón Social</th>
            <th>Descripción</th>
            <th>Fecha de carga</th>
            <th>Activo</th>
            <th>Más información</th>
            <th>Editar</th>
            {% if perms.gestion_imprenta.inactivar_cliente and perms.gestion_imprenta.activar_cliente %}
            <th>Activo</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for prov in lista %}
        <tr>
            <td>{{ prov.pk }}</td>
            <td>{{ prov.proveedor_razon_social }}</td>
            <td>{{ prov.proveedor_descripcion }}</td>
            <td>{{ prov.fecha_carga }}</td>
            <td>{{ prov.flg_activo|yesno:"Activo,Inactivo" }}</td>
            <td>
                <span class="icon">
                     <a href="{% url 'detalle_proveedor' prov.pk %}">
                         <i class="fas fa-info"></i>
                     </a>
                </span>
            </td>
            <td>
                <span class="icon">
                    <a href="{% url 'editar_proveedor' prov.pk %}">
                        <i class="fas fa-edit"></i>
                    </a>
                </span>
            </td>
            {% if perms.gestion_imprenta.inactivar_proveedor and perms.gestion_imprenta.activar_proveedor %}
            <td>
                <span class="icon">
                    {% if prov.flg_activo %}
                    <a href="{% url 'inactivar_proveedor' prov.pk %}">
                        <i class="fas fa-toggle-on"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'activar_proveedor' prov.pk %}">
                        <i class="fas fa-toggle-off"></i>
                    </a>
                    {% endif %}
                </span>
            </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td>Sin Proveedores</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}