{% extends "listas/base_lista.html" %}

{% block content %}
<h1 class="title">{{ titulo }} </h1>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Servicio Técnico</th>
            <th>Fecha de carga</th>
            <th>Activo</th>
            <th>Más información</th>
            <th>Editar</th>
            {% if perms.gestion_imprenta.inactivar_servicio_tecnico and perms.gestion_imprenta.activar_servicio_tecnico %}
            <th>Activo</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for st in lista %}
        <tr>
            <td>{{ st.pk }}</td>
            <td>{{ st.servicio_tecnico }}</td>
            <td>{{ st.fecha_carga }}</td>
            <td>{{ st.flg_activo|yesno:"Activo,Inactivo" }}</td>
            <td>
                <span class="icon">
                     <a href="{% url 'detalle_servicio_tecnico' st.pk %}">
                         <i class="fas fa-info"></i>
                     </a>
                </span>
            </td>
            <td>
                <span class="icon">
                    <a href="{% url 'editar_st' st.pk %}">
                        <i class="fas fa-edit"></i>
                    </a>
                </span>
            </td>
            {% if perms.gestion_imprenta.inactivar_servicio_tecnico and perms.gestion_imprenta.activar_servicio_tecnico %}
            <td>
                <span class="icon">
                    {% if st.flg_activo %}
                    <a href="{% url 'inactivar_st' st.pk %}">
                        <i class="fas fa-toggle-on"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'activar_st' st.pk %}">
                        <i class="fas fa-toggle-off"></i>
                    </a>
                    {% endif %}
                </span>
            </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td>Sin Servicio Técnico</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}