<table class="'resumen">
    <tr>
        <td>Fecha de creacion</td>
        <td>{{ ordentrabajo.orden_fecha_creacion}}</td>
    </tr>
     <tr>
        <td>Impresión realizada</td>
        <td>{{ ordentrabajo.orden_impresion_realizada_flg }}</td>
    </tr>
    <tr>
        <td>Terminación realizada</td>
        <td>{{ ordentrabajo.orden_terminacion_realizada_flg }}</td>
    </tr>
    <tr>
        <td>Diseño realizado</td>
        <td>{{ ordentrabajo.orden_disenio_realizado_flg }}</td>
    </tr>
</table>
