<div class="table-container">
        <table class="table is-fullwidth">
        <tr>
            <td>Fecha de creación</td>
            <td>{{ presupuesto.fecha_carga }}</td>
        </tr>
        <tr>
            <td>Hojas utilizadas</td>
            <td>{{ presupuesto.hojas_utilizadas }}</td>
        </tr>
        <tr>
            <td>Costo de impresión (u$s)</td>
            <td>{{ presupuesto.costo_impresion_dolar }}</td>
        </tr>
        <tr>
            <td>Costo de materiales (u$s)</td>
            <td>{{ presupuesto.costo_material_dolar }}</td>
        </tr>
        <tr>
            <td>Costo de terminaciones (u$s)</td>
            <td>{{ presupuesto.costo_terminaciones_dolar }}</td>
        </tr>
        <tr>
            <td>Costo de diseño</td>
            <td>{{ presupuesto.costo_disenio }}</td>
        </tr>
        <tr>
            <td>Costo total (u$s)</td>
            <td>{{ presupuesto.costo_total_dolar }}</td>
        </tr>
        <tr>
            <td>Margen de ganancia (%)</td>
            <td>{{ presupuesto.margen_ganancia }}</td>
        </tr>
        <tr>
            <td>Precio al cliente</td>
            <td>{{ presupuesto.precio_cliente }}</td>
        </tr>
        <tr>
            <td>Solicitud correspondiente</td>
            <td>
                <a href="{% url 'detalle_solicitud' presupuesto.solicitud.pk %}">{{ presupuesto.solicitud.pk }}</a>
            </td>
        </tr>
    </table>
</div>