{% extends 'base.html' %}
{% block title %}
    Alta domicilio de Cliente
{% endblock %}

{% block content %}
{% include 'cliente/resumen_cliente.html' %}

    <form action="{% url 'cliente_alta_domicilio' cliente.cliente_id %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
        {% for form in formset %}
            <table>
            {{ form.as_table }}
            </table>
        {% endfor %}
        </table>
    <input type="submit" value="Guardar!">
    </form>
{% endblock %}