<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Fecha de alta</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Primer email registrado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cliente.cliente_fecha_alta}}</td>
                <td>{{ cliente.cliente_nombre }}</td>
                <td>{{ cliente.cliente_apellido }}</td>
                <td>{{ cliente.cliente_email_contacto }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</body>
</html>