{% extends 'base.html' %}
{% block title %} Alta Solicitud Presupuesto {% endblock %}

{% block content %}
    <form action="{% url 'alta_sp' %}" method="post" relaciones_url="{% url 'material_ddl' %}" id="sp_form" enctype=multipart/form-data>
        {% csrf_token %}
        <table id="tabla_solicitud_presupuesto">
            {% for field in form_sp %}
            <tr>
                <td>
                    {{ field.label_tag }}
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                    {{ field.errors }}
                </td>
                <td>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <div id="seccion_terminaciones" style="display: none;">
            {{ formset.management_form }}
            <table id="tabla_terminaciones">
                {% for form in formset %}
                <tr id="fila_terminacion_{{forloop.counter0}}">
                    <td>{{ form.terminacion.label}} </td>
                    <td>{{ form.terminacion }} </td>
                    <td>{{ form.doble_cara_flg.label }}</td>
                    <td>{{ form.doble_cara_flg }}</td>
                    <td>{{ form.comentarios.label }}</td>
                    <td>{{ form.comentarios }}</td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <button class="nueva_terminacion" onclick="agregar_terminaciones()">Agregar otra terminación</button>
            </div>
        </div>
        <hr>
        <div id="seccion_contacto">
            {{ formset_contacto.management_form }}
            <table id="tabla_contactos">
                {% for form in formset_contacto %}
                <tr id="fila_contacto_{{forloop.counter0}}">
                    <td>{{ form.prosp_nombre.label}} </td>
                    <td>{{ form.prosp_nombre }} </td>
                    <td>{{ form.prosp_apellido.label }}</td>
                    <td>{{ form.prosp_apellido }}</td>
                    <td>{{ form.tipo_dato_contacto.label }}</td>
                    <td>{{ form.tipo_dato_contacto }}</td>
                    <td>{{ form.dato_contacto_valor }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <br>
    <input type="submit" value="Continuar..." id="submit_sp">
    </form>


{% endblock %}

{% block javascript %}
    $(document).ready(function()
    {
        if ($("#id_sp-solicitud_terminacion_flg").is(':checked'))
            {
                $("#seccion_terminaciones").show();
            }
    }
    )


    $("#id_sp-trabajo").change(function ()
    {
        var url = $("#sp_form").attr("relaciones_url");
        var trabajo_id = $(this).val();

        $.ajax(
        {
            url: url,
            data:
                {
                    'trabajo': trabajo_id
                },
            success: function (data)
            {
                materiales = data.materiales;
                medidas = data.medidas;
                cantidades = data.cantidades;
                terminaciones = data.terminaciones;

                $("#id_sp-material").empty();
                $("#id_sp-medida_estandar").empty();
                $("#id_sp-cantidad_estandar").empty();
                $( ".clase_terminacion" ).empty();

                $.each(JSON.parse(materiales), function(key, value)
                {
                    $("#id_sp-material").append(new Option(value.fields.material_descripcion, value.pk));
                });

                $.each(JSON.parse(medidas), function(key, value)
                {
                    $("#id_sp-medida_estandar").append(new Option(value.fields.medida_1_cm+' x '+value.fields.medida_2_cm, value.pk));
                });

                $.each(JSON.parse(cantidades), function(key, value)
                {
                    $("#id_sp-cantidad_estandar").append(new Option(value.fields.cantidad, value.pk));
                });

                $.each(JSON.parse(terminaciones), function(key, value)
                {
                    $(".clase_terminacion").append(new Option(value.fields.terminacion, value.pk));
                });
            }
        });
    });
    $("#id_sp-solicitud_terminacion_flg").change(function ()
        {
            if ($(this).is(':checked'))
            {
                $("#seccion_terminaciones").show();
            }
            else
            {
                $("#seccion_terminaciones").css('display', 'none')
            }
        });

{% endblock %}
