{% extends 'base.html' %}
{% block title %} Alta Solicitud Presupuesto {% endblock %}

{% block content %}
    <form action="{% url 'alta_sp' %}" method="post" relaciones_url="{% url 'material_ddl' %}" id="sp_form">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th> Formulario de alta </th>
                </tr>
            </thead>
            <tbody>
                {% for f in form_sp.visible_fields %}
                <tr>
                    <td>
                        {{ f.label }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
                </tr>
                {% endfor %}
                {% for f in form_spt.visible_fields %}
                <tr>
                    <td>
                        {{ f.label }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Continuar...">
    </form>
{% endblock %}

    {% block javascript %}
    $("#id_sp-trabajo").change(function ()
    {
        var url = $("#sp_form").attr("relaciones_url");
        var trabajo_id = $(this).val();

        $.ajax(
        {
            url: url,
            data:
                {
                    'trabajo': trabajo_id
                },
            success: function (data)
            {
                materiales = data.materiales;
                medidas = data.medidas;
                $("#id_sp-material").empty();
                $("#id_sp-medida_estandar").empty();

                $.each(JSON.parse(materiales), function(key, value)
                {
                    $("#id_sp-material").append(new Option(value.fields.material_descripcion, value.pk));
                });

                $.each(JSON.parse(medidas), function(key, value)
                {
                    $("#id_sp-medida_estandar").append(new Option(value.fields.medida_1_cm+' x '+value.fields.medida_2_cm, value.pk));
                });
            }
        });
    });
    {% endblock %}

