{% extends 'base.html' %}
{% block title %}
    Alta Proveedor
{% endblock %}

{% block content %}
    <form action="{% url 'alta_proveedor' %}" method="post">
        {% csrf_token %}
         {{ form.non_field_errors }}
        <table>
            <thead>
                <tr>
                    <th> Formulario de alta </th>
                </tr>
            </thead>
            <tbody>
                {% for f in form.visible_fields %}
                <tr>
                    <td>
                        {{ f.label_tag }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <input type="submit" value="Guardar!">
    </form>
{% endblock %}

{% block javascript %}
    $(".nuevo_dato_contacto").click(function(e)
        {
            e.preventDefault();
            agregar_dato_contacto();
        });
{% endblock %}