{% extends 'base.html' %}
{% block title %}
    Alta domicilio de Proveedor
{% endblock %}

{% block content %}
{% include 'proveedor/resumen_proveedor.html' %}

    <form action="{% url 'proveedor_alta_domicilio' proveedor.proveedor_id %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
        {% for form in formset %}
            <table>
            {{ form.as_table }}
            </table>
        {% endfor %}
        </table>
    <input type="submit" value="Guardar!">
    </form>
{% endblock %}