{% extends 'base.html' %}
{% block title %}
    Alta dato de contacto de Proveedor
{% endblock %}

{% block content %}
{% include 'proveedor/resumen_proveedor.html' %}

    <form action="{% url 'proveedor_alta_dc' proveedor.proveedor_id %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        <table>
        {% for form in formset %}
            {{ form.id }}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                    <th> {{ field.label_tag}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for field in form.visible_fields %}
                    <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
    <input type="submit" value="Guardar!">
    </form>
{% endblock %}