<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Descripción</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ proveedor.proveedor_razon_social}}</td>
                <td>{{ proveedor.proveedor_descripcion }}</td>
                <td>{{ proveedor.flg_activo }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</body>
</html>