<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>{% block title %} Título por defecto {% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    {% include 'alta/navbar.html' %}
    {% block content %}

    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

     <script
            type="text/javascript" src="{% static "js/funciones.js" %}">
     </script>

     <script>
    {% block javascript %}

    {% endblock %}
    </script>
</body>
</html>