<option value="">---------</option>
{% for m in materiales %}
<option value="{{ m.pk }}">{{ m.material }}
</option>
{% endfor %}


<option value="">---------</option>
{% for col in colores %}
<option value="{{ col.pk }}">{{ col.color_impresion }}
</option>
{% endfor %}

<option value="">---------</option>
{% for me in modo_envio %}
<option value="{{ me.pk }}">{{ me.modo_envio }}
</option>
{% endfor %}


<option value="">---------</option>
{% for m in medidas %}
<option value="{{ m.pk }}">{{ m.medida_1_cm }} x {{ m.medida_2_cm }}
</option>
{% endfor %}