{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
<section class="section">
    {% include "resumen/resumen_cliente.html" %}
</section>
<br>
<section class="section">
    <h1 class="title">Direcciones</h1>
        <div class="table-container">
            <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Tipo de domicilio</th>
                    <th>Calle - Altura</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th>Pais</th>
                    <th>Fecha de carga</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for d in cliente.domicilio_set.all %}
                <tr>
                    <td>{{ d.get_tipo_domicilio_display}}</td>
                    <td>{{ d.domicilio_calle }} {{ d.domicilio_altura }}</td>
                    <td>{{ d.localidad }}</td>
                    <td>{{ d.provincia }}</td>
                    <td>{{ d.pais }}</td>
                    <td>{{ d.fecha_carga }}</td>
                    <td>{{ d.flg_activo|yesno:"Activo,Inactivo" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Sin domicilios cargados</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% if perms.gestion_imprenta.add_domicilio %}
                <br>
                <a class="button is-primary" href="{% url 'cliente_alta_domicilio' cliente.pk %}">Agendar direcciones</a>
            {% endif %}
        </div>
        </div>
</section>>
<br>
<section class="section">
    <h1 class="title">Datos de contacto</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Tipo de contacto</th>
                <th>Dato de contacto</th>
                <th>Horario de contacto</th>
                <th>Fecha de carga</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cliente.contacto_set.all %}
            <tr>
                <td>{{ c.get_tipo_dato_contacto_display}}</td>
                <td>{{ c.dato_contacto_valor }}</td>
                <td>{{ c.contacto_horario }}</td>
                <td>{{ c.fecha_carga }}</td>
                <td>{{ c.flg_activo|yesno:"Activo,Inactivo" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>Sin datos de contacto</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% if perms.gestion_imprenta.add_contacto %}
        <br>
        <a class="button is-primary" href="{% url 'cliente_alta_dc' cliente.pk %}">Agendar datos de contacto</a>
    {% endif %}
</section>
<br>
<section class="section">
    <h1 class="title">Solicitudes</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>ID de solicitud</th>
                <th>Fecha de solicitud</th>
                <th>Trabajo</th>
                <th>Express</th>
                <th>Envio</th>
                <th>Presupuestos generados</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in cliente.contacto_set.all %}
                {% for s in contacto.solicitudpresupuesto_set.all %}
                <tr>
                    <td>{{ s.solicitud_id }}</td>
                    <td>{{ s.solicitud_fecha }}</td>
                    <td>{{ s.trabajo }}</td>
                    <td>{{ s.solicitud_express_flg|yesno:"Urgente,Normal" }}</td>
                    <td>{{ s.envio }}</td>
                    <td>{{ s.presupuesto_set.all|length }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</section>
<br>
<section class="section">
    <h1 class="title">Presupuestos</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Fecha generacion</th>
                <th>Solicitud referencia</th>
                <th>Precio al cliente</th>
                <th>Enviado</th>
                <th>Fecha envío</th>
                <th>Aceptado</th>
                <th>Comentarios</th>
            </tr>
        </thead>
        <tbody>
            {% for p in cliente.presupuesto_set.all %}
            <tr>
                <td>{{ p.fecha_carga }}</td>
                <td>{{ p.solicitud.solicitud_id }}</td>
                <td>{{ p.precio_cliente }}</td>
                <td>{{ p.presupuesto_enviado_flg|yesno:"Enviado,Sin enviar" }}</td>
                <td>{{ p.fecha_envio_presupuesto }}</td>
                <td>{{ p.presupuesto_aceptado_flg|yesno:"Aceptado,Rechazado,Sin Respuesta"}}</td>
                <td>{{ p.presupuesto_comentarios_rechazo }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>Sin presupuestos generados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}