{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
    {% include "resumen/resumen_presupuesto.html" %}

<br>
<div>
    <table class="detalle">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
        {% for pe in presupuesto.presupuestoestado_set.all %}
        <tr>
            <td>{{ pe.estado.estado_descripcion }}</td>
            <td>{{ pe.fecha_cambio_estado }}</td>
            <td>{{ pe.usuario }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if presupuesto.ultimo_estado.estado.tipo_estado != "Final" %}
    <div>
        <a class="btn btn-primary" href="{% url 'presupuesto_estado' presupuesto.pk %}">Cambiar estado</a>
    </div>
    {% elif not presupuesto.ordentrabajo %}
    <div>
        <a class="btn btn-primary" href="{% url 'presupuesto_orden_trabajo' presupuesto.pk %}">Crear orden de trabajo</a>
    </div>
    {% endif %}
</div>
<br>
<div>
    <table class="detalle">
        <thead>
        <tr>
            <th>Origen</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Comentario</th>
        </tr>
        </thead>
        <tbody>
        {% for c in presupuesto.comentario_set.all %}
        <tr>
            <td>Presupuesto</td>
            <td>
                {{ c.fecha_comentario }}
            </td>
            <td>
                {{ c.usuario }}
            </td>
            <td>
                {{ c.comentario }}
            </td>
        </tr>
        {% endfor %}

        {% for c in presupuesto.solicitud.comentario_set.all %}
        <tr>
            <td>Solicitud</td>
            <td>
                {{ c.fecha_comentario }}
            </td>
            <td>
                {{ c.usuario }}
            </td>
            <td>
                {{ c.comentario }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="{% url 'presupuesto_comentarios' presupuesto.pk %}">Agregar comentarios</a>
    </div>
</div>
{% endblock %}