{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
<section class="section">
    <h4 class="title is-4">Datos</h4>
    {% include "resumen/resumen_service.html" %}
</section>
<br>
<section class="section">
    <h1 class="title">Direcciones</h1>
        <div class="table-container">
            <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Tipo de domicilio</th>
                    <th>Calle - Altura</th>
                    <th>Piso/Depto</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th>Pais</th>
                    <th>Última modificación</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for d in st.domicilio_set.all %}
                <tr>
                    <td>{{ d.get_tipo_domicilio_display}}</td>
                    <td>{{ d.domicilio_calle }} {{ d.domicilio_altura }}</td>
                    <td>{{ d.domicilio_depto }}</td>
                    <td>{{ d.localidad }}</td>
                    <td>{{ d.provincia }}</td>
                    <td>{{ d.pais }}</td>
                    <td>{{ d.fecha_ultima_modificacion }}</td>
                    <td>{{ d.flg_activo|yesno:"Activo,Inactivo" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Sin domicilios cargados</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% if perms.gestion_imprenta.add_domicilio %}
                <br>
                <a class="button is-primary" href="{% url 'st_alta_domicilio' st.pk %}">Agenda de direcciones</a>
            {% endif %}
        </div>
        </div>
</section>>
<br>
<section class="section">
    <h1 class="title">Datos de contacto</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Tipo de contacto</th>
                <th>Dato de contacto</th>
                <th>Horario de contacto</th>
                <th>Fecha de carga</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for c in st.contacto_set.all %}
            <tr>
                <td>{{ c.get_tipo_dato_contacto_display}}</td>
                <td>{{ c.dato_contacto_valor }}</td>
                <td>{{ c.contacto_horario }}</td>
                <td>{{ c.fecha_carga }}</td>
                <td>{{ c.flg_activo|yesno:"Activo,Inactivo" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>Sin datos de contacto</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% if perms.gestion_imprenta.add_contacto %}
        <br>
        <a class="button is-primary" href="{% url 'st_alta_dc' st.pk %}">Agenda de contactos</a>
    {% endif %}
</section>
{% endblock %}