{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="title">Prioridad: {{ solicitud.solicitud_express_flg|yesno:"Urgente,Normal" }}</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
        <tr>
            <td>Fecha de solicitud</td>
            <td>{{ solicitud.solicitud_fecha }}</td>
        </tr>
        <tr>
            <td>Trabajo</td>
            <td>{{ solicitud.trabajo }}</td>
        </tr>
        <tr>
            <td>Material</td>
            <td>{{ solicitud.material }}</td>
        </tr>
        <tr>
            <td>Impresión</td>
            <td>{{ solicitud.solicitud_doble_cara_impresion_flg|yesno:"Doble faz,Simple faz" }}</td>
        </tr>
        <tr>
            <td>Terminaciones</td>
            <td>{{ solicitud.solicitud_terminacion_flg|yesno:"Con terminaciones,Sin terminaciones"}}</td>
        </tr>
         <tr>
            <td>Color</td>
            <td>{{ solicitud.color_impresion}}</td>
        </tr>
        <tr>
            <td>Medidas</td>
            <td>{{ solicitud.medida_estandar }}</td>
        </tr>
        <tr>
            <td>Orientación</td>
            <td>{{ solicitud.solicitud_orientacion|capfirst }}</td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td>{{ solicitud.cantidad_estandar }}</td>
        </tr>
        <tr>
            <td>Diseño</td>
            <td>{{ solicitud.solicitud_disenio_flg|yesno:"Requiere diseño,Sin diseño" }}</td>
        </tr>
        <tr>
            <td>Envío</td>
            <td>{{ solicitud.envio }}</td>
        </tr>
        <tr>
            <td>Comentarios</td>
            <td>{{ solicitud.solicitud_comentarios }}</td>
        </tr>
        <tr>
            <td>Máquina elegida para imprimir</td>
            {% if solicitud.maquina_pliego is None and not solicitud.presupuesto_set.all|check_presupuesto_sin_aceptar %}
                <td>
                    <a class="button is-primary is-focused" href="{% url 'solicitud_impresion'  solicitud.pk %}">
                        <span class="icon is-small">
                                <i class="far fa-hand-point-up"></i>
                        </span>
                        <span>Elegir máquina para imprimir</span>
                    </a>
                </td>
            {% else %}
                <td>{{ solicitud.maquina_pliego }}</td>
                {% if not solicitud.presupuesto_set.all|check_presupuesto_sin_aceptar %}
                    <td>
                        <a class="button is-primary is-focused" href="{% url 'solicitud_impresion'  solicitud.pk %}">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Cambiar máquina para imprimir</span>
                        </a>
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    </table>
    </div>
</section>
<br>
{% if solicitud.solicitud_terminacion_flg %}
<section class="section">
    <h1 class="title">Terminaciones</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
            <tr>
                <td>Terminación</td>
                <td>Faz</td>
                <td>Comentarios</td>
                <td>Máquina elegida</td>
            </tr>
        </thead>
        <tbody>
        {% for t in solicitud.solicitudpresupuestoterminaciones_set.all %}
            <tr>
                <td>{{ t.terminacion }}</td>
                <td>{{ t.doble_cara_flg|yesno:"Doble,Simple"}}</td>
                <td>{{ t.comentarios }} </td>
                {% if t.maquina_terminacion is None and not solicitud.presupuesto_set.all|check_presupuesto_sin_aceptar%}
                    <td>
                        <span>Elegir máquina de terminación</span>
                    </td>
                {% else %}
                    <td>{{ t.maquina_terminacion }}</td>
                {% endif %}
            </tr>
        {% empty %}
        <tr>Sin terminaciones</tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not solicitud.presupuesto_set.all|check_presupuesto_sin_aceptar %}
        <div>
            <a class="button is-primary" href="{% url 'solicitud_terminaciones' solicitud.pk %}">
                 <span class="icon is-small">
                                <i class="far fa-hand-point-up"></i>
                 </span>
                <span>Editar máquinas para terminaciones</span>
            </a>
        </div>
    {% endif %}
    </div>
</section>
<br>
{% endif %}
<section class="section">
    <h1 class="title">Adjuntos</h1>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
        <div class="content">
            <figure class="image is-4by3">
        </figure>
        </div>
    </article>
  </div>
        <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
        <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
    </div>
</section>
<br>
<section class="section">
    <h1 class="title">Contactos</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Nombre y apellido del contacto</th>
            <th>Contacto</th>
            <th>Dato de contacto</th>
            <th>Conacto principal de la solicitud</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        {% for contacto in solicitud.solicitudpresupuestocontactos_set.all %}
        <tr>
            <td>{{ contacto.contacto.cliente.cliente_nombre}} {{ contacto.contacto.cliente.cliente_apellido }}</td>
            <td>{{ contacto.contacto.get_tipo_dato_contacto_display }}</td>
            <td>{{ contacto.contacto.dato_contacto_valor}}</td>
            <td>{{ contacto.flg_notificacion|yesno:"Si,No" }}</td>
            <td>
                <span class="icon">
                    <a href="{% url 'editar_solicitud_contacto' contacto.pk %}">
                        <i class="fas fa-edit"></i>
                    </a>
                </span>
            </td>
            <td>
                <span class="icon">
                    <a href="{% url 'eliminar_solicitud_contacto' contacto.pk %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
            <a class="button is-primary" href="{% url 'solicitud_contacto' solicitud.pk %}">
                 <span class="icon is-small">
                     <i class="fas fa-plus"></i>
                 </span>
                <span>Agregar contactos</span>
            </a>
    </div>
</div>
</section>
<br>
<section class="section">
    <h1 class="title">Comentarios</h1>
    <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Comentario</th>
        </tr>
        </thead>
        <tbody>
        {% for c in solicitud.comentario_set.all %}
        <tr>
            <td>{{ c.fecha_comentario }}</td>
            <td>{{ c.usuario }}</td>
            <td>{{ c.comentario }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a class="button is-primary" href="{% url 'solicitud_comentarios' solicitud.pk %}">
            <span class="icon is-small">
                <i class="fas fa-plus"></i>
            </span>
            <span>Agregar comentarios</span>
        </a>
    </div>
</div>
</section>
<br>
<section class="section">
    <p class="title is-3">Resumen costos</p>
    <div class="table-container">
    {% with maq_impresion=solicitud.maquina_pliego terminaciones=solicitud.solicitudpresupuestoterminaciones_set.all %}

        <div class="content is-medium">
            <ul>
            {% if maq_impresion is None %}
            <li>Para generar el presupuesto debe elegir con cuál máquina imprimirá</li>
            {% elif solicitud.solicitud_terminacion_flg and terminaciones|check_maquina_terminacion %}
                <li>Para generar el presupuesto todas las terminaciones deben tener una máquina de terminación</li>
            {% else %}
            </ul>
        </div>

    <p class="subtitle is-5">Cantidad de presupuestos generados: {{ solicitud.presupuesto_set.all|length }}</p>
        <table class="table is-fullwidth">
            <tr>
                <td>Cantidad de hojas estimadas</td>
                <td>{{ cantidad_hojas }}</td>
            </tr>
            <tr>
                <td>Costo Impresión (u$s)</td>
                <td>{{ costo_impresion }}</td>
            </tr>
            <tr>
                <td>Costo Material (u$s)</td>
                <td>{{ costo_material }}</td>
            </tr>
            <tr>
                <td>Costo de terminaciones (u$s)</td>
                <td>{{ costo_terminaciones }}</td>
            </tr>
            <tr>
                <td>Costo total sin diseño (u$s)</td>
                <td>{{ costo_total_s_disenio }}</td>
            </tr>
            <tr>
                <td>Descuento por cantidad por trabajo (%)</td>
                <td>{{ descuento }}</td>
            </tr>
        </table>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Fecha creación</th>
                <th>Presupuesto ID</th>
                <th>Porcentaje de ganancia</th>
                <th>Precio al cliente ($)</th>
                <th>Último estado</th>
                <th>Fecha último estado</th>

            </tr>
            </thead>
            <tbody>
            {% for p in solicitud.presupuesto_set.all %}
            <tr>
                <td>
                    {{ p.fecha_carga }}
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'detalle_presupuesto' p.pk %}">{{ p.pk }}</a>
                </td>
                <td>
                    {{ p.margen_ganancia }}
                </td>
                <td>
                    {{ p.precio_cliente }}
                </td>
                <td>
                    {{ p.ultimo_estado.estado.estado_descripcion }}
                </td>
                <td>
                    {{ p.ultimo_estado.fecha_cambio_estado|date }}
                </td>
             </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if not solicitud.presupuesto_set.all|check_presupuesto_sin_aceptar %}
            <div>
                <a class="button is-primary" href="{% url 'solicitud_presupuesto' solicitud.pk %}">Agregar presupuesto</a>
            </div>
        {% endif %}
    {% endif %}
    {% endwith %}

</div>
</section>
<br>

{% endblock %}