{% extends 'base.html' %}
{% block title %}
    Alta Proveedor
{% endblock %}

{% block content %}
    <form action="{% url 'alta_proveedor' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th> Formulario de alta </th>
                </tr>
            </thead>
            <tbody>
                {% for f in form.visible_fields %}
                <tr>
                    <td>
                        {{ f.label_tag }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
                </tr>
                {% endfor %}

             {{ form_dc.management_form }}
                {% for form in form_dc %}
                    {% for f in form.visible_fields %}
                        <tr>
                            <td>
                                {{ f.label_tag }}
                            </td>
                            <td>
                                {{ f }}
                            </td>
                            <td>
                                {{ f.errors }}
                            </td>
                            <td>
                                {{ f.help_text }}
                            </td>
                        </tr>
                    {% endfor %}

                {% endfor %}

            </tbody>
            <div>
                            <button>Agregar otro Formulario de Datos de contacto</button>
                        </div>
        </table>
    <input type="submit" value="Guardar!">
    </form>
{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock %}