<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alta Cliente Persona Física</title>
</head>
<body>
    <form action="{% url 'alta_cliente_pf' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th> Formulario de alta </th>
                </tr>
            </thead>
            <tbody>
                {% for f in form_pf.visible_fields %}
                <tr>
                    <td>
                        {{ f.label_tag }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tbody>
             {{ form_dom.management_form }}
                {% for form in form_dom %}
                    {% for f in form.visible_fields %}
                        <tr>
                            <td>
                                {{ f.label_tag }}
                            </td>
                            <td>
                                {{ f }}
                            </td>
                            <td>
                                {{ f.errors }}
                            </td>
                            <td>
                                {{ f.help_text }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Guardar!">
    </form>
</body>
</html>