{% extends 'base.html' %}
{% block title %}
    Alta Localidad
{% endblock %}

{% block content %}
{% include 'resumen_cliente.html' %}
    <form action="{% url 'cliente_alta_dc' cliente.cliente_id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table>
            <thead>
                <tr>
                    <th> Formulario de alta </th>
                </tr>
            </thead>
            <tbody>
                {% for f in form.visible_fields %}
                <tr>
                    <td>
                        {{ f.label_tag }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Guardar!">
    </form>
{% endblock %}