{% extends 'base.html' %}
{% block title %}
    Tipo de Trabajo - Cantidades
{% endblock %}

{% block content %}
<form method="post">
    {{ formset.management_form }}
    {% for form in formset %}
    <table>
        <thead>
            <tr>
                <th>Nueva cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for f in form.visible_fields %}
            <tr>
                 <td>
                        {{ f.label_tag }}
                    </td>
                    <td>
                        {{ f }}
                    </td>
                    <td>
                        {{ f.errors }}
                    </td>
                    <td>
                        {{ f.help_text }}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <input type="submit" value="Guardar!">
</form>
{% endblock %}