<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Fecha de alta</th>
                <th>Inicio como cliente</th>
                <th>Tipo de cliente</th>
                <th>Nombre / Razón Social</th>
                <th>Tipo y Nro de documento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ cliente.cliente_fecha_alta }}</th>
                <th>{{ cliente.cliente_fecha_activo }}</th>
                <th>{{ cliente.tipo_cliente.tipo_cliente }}</th>
                <th>{{ cliente.dar_nombre_razon_social }}</th>
                <th>{{ cliente.dar_identificacion  }}</th>
            </tr>
        </tbody>
    </table>
</body>
</html>