{% extends "cuentas/base_autenticacion.html" %}

{% block title %} Safetag - Login {% endblock %}

{% block content %}
    {% if form.errors %}
    <p>Usuario/Contraseña incorrectos.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Esta cuenta no tiene acceso a la página que solicita</p>
        {% else %}
        <p>Para ver esta página deberá ingresar sus credenciales.</p>
        {% endif %}
    {% endif %}

    <div class="box">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input class="button is-primary" type="submit" value="Login">
    <input class="button is-primary" type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
    <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>

{% endblock %}